body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  border-radius: 8px;
  font-size: 14px;
  border: solid 1px #ccc;
  padding: 10px;
  margin: 10px 0;
  background-color: #eee;
}

.code > p {
  margin: 0px;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.w-full {
  width: 100%;
}

.text-center {
  text-align: center;
  margin-top: 20px;
}